In [2]:
#import dependencies
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#reading in weather data from csv
Csvpath = "weather_data2018-19_csv.csv"
weather_data = pd.read_csv(Csvpath)
weather_data['Date time']= pd.to_datetime(weather_data['Date time']) 
weather_data['Date'] = weather_data['Date time'].dt.strftime('%m/%d/%Y')
weather_data = weather_data[['Location', 'Address', 'Country', 'Date', 'Maximum Temperature',
       'Minimum Temperature', 'Temperature', 'Wind Chill', 'Heat Index',
       'Precipitation', 'Snow Depth', 'Wind Speed', 'Wind Gust', 'Cloud Cover',
       'Relative Humidity', 'Conditions']]
weather_data

,Location,Address,Country,Date,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Cloud Cover,Relative Humidity,Conditions
0,NaN,30308,USA,01/01/2019,64.9,56.1,61.2,NaN,NaN,0.2,NaN,6.0,NaN,70.7,91.08,"Rain, Partially cloudy"
1,NaN,30308,USA,01/02/2019,56.8,48.8,52.1,46.4,NaN,0.4,NaN,7.2,NaN,72.8,92.82,"Rain, Partially cloudy"
2,NaN,30308,USA,01/03/2019,54.4,50.1,52.3,NaN,NaN,0.3,NaN,9.9,NaN,99.4,96.68,"Rain, Overcast"
3,NaN,30308,USA,01/04/2019,64.6,45.0,54.3,40.2,NaN,1.2,NaN,18.1,33.6,87.5,86.99,"Rain, Overcast"
4,NaN,30308,USA,01/05/2019,57.5,43.6,48.6,36.2,NaN,0.0,NaN,17.0,33.3,40.7,65.53,Partially cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7295,NaN,30308,USA,12/27/2018,52.9,46.6,49.1,41.1,NaN,0.7,NaN,12.0,29.8,99.3,71.52,"Rain, Overcast"
7296,NaN,30308,USA,12/28/2018,62.0,49.6,55.4,45.1,NaN,3.3,NaN,12.0,NaN,83.0,96.67,"Rain, Overcast"
7297,NaN,30308,USA,12/29/2018,59.5,45.7,52.0,44.4,NaN,0.0,NaN,8.8,NaN,44.1,82.42,Partially cloudy
7298,NaN,30308,USA,12/30/2018,54.3,49.9,52.0,48.3,NaN,0.4,NaN,4.7,NaN,99.0,95.42,"Rain, Overcast"
7299,NaN,30308,USA,12/31/2018,69.4,54.3,61.3,NaN,NaN,0.0,NaN,14.6,NaN,79.6,91.62,Overcast

In [4]:
#reading in traffic data from csv Traffic csvs
Csvpath_30308 = "30308_Traffic_data_final.csv"
Csvpath_30309 = "30309_Traffic_data_final.csv"
Csvpath_30312 = "30312_Traffic_data_final.csv"
Csvpath_30315 = "30315_Traffic_data_final.csv"
Csvpath_30318 = "30318_Traffic_data_final.csv"
Csvpath_30324 = "30324_Traffic_data_final.csv"
Csvpath_30331 = "30331_Traffic_data_final.csv"
Csvpath_30339 = "30339_Traffic_data_final.csv"
Csvpath_30340 = "30340_Traffic_data_final.csv"
Csvpath_30342 = "30342_Traffic_data_final.csv"


traffic_data_30312 = pd.read_csv(Csvpath_30312)
traffic_data_30315 = pd.read_csv(Csvpath_30315)
traffic_data_30309 = pd.read_csv(Csvpath_30309)
traffic_data_30339 = pd.read_csv(Csvpath_30339)
traffic_data_30331 = pd.read_csv(Csvpath_30331)
traffic_data_30340 = pd.read_csv(Csvpath_30340)
traffic_data_30324 = pd.read_csv(Csvpath_30324)
traffic_data_30308 = pd.read_csv(Csvpath_30308)
traffic_data_30318 = pd.read_csv(Csvpath_30318)
traffic_data_30342 = pd.read_csv(Csvpath_30342)
traffic_data_30339

,Date,Severity_1,Severity_2,Severity_3,Severity_4,Residential_ct,Interstate_ct,Accident_ct,Zipcode
0,01/01/2018,0,0,0,0,0,0,0,30339
1,01/02/2018,0,0,3,0,0,3,3,30339
2,01/03/2018,0,0,0,0,0,0,0,30339
3,01/04/2018,0,0,0,0,0,0,0,30339
4,01/05/2018,0,0,0,0,0,0,0,30339
...,...,...,...,...,...,...,...,...,...
725,12/27/2019,0,0,0,0,0,0,0,30339
726,12/28/2019,0,0,2,0,0,2,2,30339
727,12/29/2019,0,1,2,0,0,3,3,30339
728,12/30/2019,0,0,0,0,0,0,0,30339
729,12/31/2019,0,0,0,0,0,0,0,30339

In [5]:
#creating separate weather dataframes for each zipcode
weather_data_30312 = weather_data.loc[weather_data["Address"]==30312,:]
weather_data_30315 = weather_data.loc[weather_data["Address"]==30315,:]
weather_data_30309 = weather_data.loc[weather_data["Address"]==30309,:]
weather_data_30339 = weather_data.loc[weather_data["Address"]==30339,:]
weather_data_30331 = weather_data.loc[weather_data["Address"]==30331,:]
weather_data_30340 = weather_data.loc[weather_data["Address"]==30340,:]
weather_data_30324 = weather_data.loc[weather_data["Address"]==30324,:]
weather_data_30308 = weather_data.loc[weather_data["Address"]==30308,:]
weather_data_30318 = weather_data.loc[weather_data["Address"]==30318,:]
weather_data_30342 = weather_data.loc[weather_data["Address"]==30342,:]
weather_data_30315

,Location,Address,Country,Date,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Cloud Cover,Relative Humidity,Conditions
1095,NaN,30315,USA,01/01/2019,65.4,56.9,62.0,NaN,NaN,0.2,NaN,6.3,NaN,80.4,88.67,"Rain, Overcast"
1096,NaN,30315,USA,01/02/2019,57.3,49.2,52.9,46.3,NaN,0.4,NaN,7.6,NaN,81.9,89.70,"Rain, Overcast"
1097,NaN,30315,USA,01/03/2019,54.6,50.2,52.7,NaN,NaN,0.3,NaN,11.8,NaN,99.5,94.46,"Rain, Overcast"
1098,NaN,30315,USA,01/04/2019,65.2,45.1,54.7,39.9,NaN,1.3,NaN,20.7,33.8,87.0,84.61,"Rain, Overcast"
1099,NaN,30315,USA,01/05/2019,58.3,43.8,49.1,36.8,NaN,0.0,NaN,18.4,33.3,39.5,63.80,Partially cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,NaN,30315,USA,12/27/2018,53.5,46.9,49.5,40.5,NaN,0.7,NaN,16.1,29.8,98.9,70.87,"Rain, Overcast"
5014,NaN,30315,USA,12/28/2018,62.2,50.4,56.3,NaN,NaN,3.4,NaN,12.8,NaN,89.1,94.05,"Rain, Overcast"
5015,NaN,30315,USA,12/29/2018,60.3,47.5,53.1,45.1,NaN,0.0,NaN,9.3,NaN,58.8,80.56,Partially cloudy
5016,NaN,30315,USA,12/30/2018,54.8,50.5,52.4,NaN,NaN,0.4,NaN,6.1,NaN,97.6,92.59,"Rain, Overcast"
5017,NaN,30315,USA,12/31/2018,69.8,54.8,61.8,NaN,NaN,0.0,NaN,15.6,NaN,68.4,89.70,Partially cloudy

In [6]:
#30312 traffic and weather merge
weather_traffic_30312 = pd.merge(weather_data_30312, traffic_data_30312, on = "Date", how = "left")
weather_traffic_30312["Accident_ct"].sum()

1752

In [7]:
#30315 traffic and weather merge
weather_traffic_30315 = pd.merge(weather_data_30315, traffic_data_30315, on = "Date", how = "left")
#30309  traffic and weather merge
weather_traffic_30309 = pd.merge(weather_data_30309, traffic_data_30309, on = "Date", how = "left")
#30339 traffic and weather merge
weather_traffic_30339 = pd.merge(weather_data_30339, traffic_data_30339, on = "Date", how = "left")
#30331 traffic and weather merge
weather_traffic_30331 = pd.merge(weather_data_30331, traffic_data_30331, on = "Date", how = "left")
#30340 traffic and weather merge
weather_traffic_30340 = pd.merge(weather_data_30340, traffic_data_30340, on = "Date", how = "left")
#30324 traffic and weather merge
weather_traffic_30324 = pd.merge(weather_data_30324, traffic_data_30324, on = "Date", how = "left")
#30308 traffic and weather merge
weather_traffic_30308 = pd.merge(weather_data_30308, traffic_data_30308, on = "Date", how = "left")
#30318 traffic and weather merge
weather_traffic_30318 = pd.merge(weather_data_30318, traffic_data_30318, on = "Date", how = "left")
#30342 traffic and weather merge
weather_traffic_30342 = pd.merge(weather_data_30342, traffic_data_30342, on = "Date", how = "left")

In [10]:
test = weather_traffic_30318["Severity_1"].sum()+weather_traffic_30318["Severity_2"].sum()+weather_traffic_30318["Severity_3"].sum()+weather_traffic_30318["Severity_4"].sum()
test

819

In [8]:
weather_traffic_30312.to_csv('30312_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30339.to_csv('30339_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30331.to_csv('30331_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30315.to_csv('30315_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30309.to_csv('30309_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30340.to_csv('30340_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30308.to_csv('30308_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30324.to_csv('30324_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30342.to_csv('30342_weather_traffic_FINAL.csv',index = True, header = True)
weather_traffic_30318.to_csv('30318_weather_traffic_FINAL.csv',index = True, header = True)